<style>
    .goods-item-box fieldset {
        width: 260px;
        height: 80px;
        padding: 15px 20px;
        display: inline-block;
        margin: 0 15px 15px 0;
    }
</style>
<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">
        <div class="goods-item-box">
            <div class="flex flex-wrap">
                <!--{if isset($upgrades) and count($upgrades)>1}-->
                <fieldset class="layui-bg-gray notselect">
                    <legend><span class="layui-badge think-bg-violet">不是礼包配置</span></legend>
                    <select class="layui-select" name="level_upgrade">
                        {foreach $upgrades as $upgrade}{if isset($vo.level_upgrade) and $vo.level_upgrade eq $upgrade.number}
                        <option value="{$upgrade.number|default=0}" selected>
                            [ {$upgrade.prefix|default='0'} ] {if $upgrade.number eq 0}入会礼包，不升级{elseif $upgrade.number>0}升级礼包，升级到【{$upgrade.name|default=''}】{else} {$upgrade.name|default=''} {/if}
                        </option>
                        {else}
                        <option value="{$upgrade.number|default=0}">
                            [ {$upgrade.prefix|default='0'} ] {if $upgrade.number eq 0}入会礼包，不升级{elseif $upgrade.number>0}升级礼包，升级到【{$upgrade.name|default=''}】{else} {$upgrade.name|default=''} {/if}
                        </option>
                        {/if}{/foreach}
                    </select>
                    <span class="help-block">购买商品后可直接升级到该等级！</span>
                </fieldset>
                <fieldset class="layui-bg-gray notselect">
                    <legend><span class="layui-badge think-bg-violet">限制购买等级</span></legend>
                    <select class="layui-select" name="limit_lowvip">
                        <option value="0">[ - ] 不限等级</option>
                        {foreach $upgrades as $upgrade}{if $upgrade.number>0}{if isset($vo.limit_lowvip) and $vo.limit_lowvip eq $upgrade.number}
                        <option selected value="{$upgrade.number|default=0}">[ {$upgrade.number|default=0} ] 限制【{$upgrade.name|default=''}】及以上可购买</option>
                        {else}
                        <option value="{$upgrade.number|default=0}">[ {$upgrade.number|default=0} ] 限制【{$upgrade.name|default=''}】及以上可购买</option>
                        {/if}{/if}{/foreach}
                    </select>
                    <span class="help-block">限制低于该等级的用户不能购买！</span>
                </fieldset>
                <!--{else}-->
                <input type="hidden" name="limit_lowvip" value="0">
                <input type="hidden" name="level_upgrade" value="-1">
                <!--{/if}-->
                <fieldset class="layui-bg-gray">
                    <legend><span class="layui-badge think-bg-violet">限制购买数量</span></legend>
                    <label>
                        <input class="layui-input" type="number" min="0" data-blur-number="0" name="limit_maxnum" placeholder="请输入商品限购数量" value="{$vo.limit_maxnum|default=0}">
                        <span class="help-block">限制每人购买数量，值为 0 时不限制！</span>
                    </label>
                </fieldset>
                <!--{if isset($discounts)}-->
                <fieldset class="layui-bg-gray">
                    <legend><span class="layui-badge think-bg-violet">会员折扣方案</span></legend>
                    <select class="layui-select" name="discount_id" lay-search>
                        {foreach $discounts as $discount}{if isset($vo.discount_id) and $vo.discount_id eq $discount.id}
                        <option selected value="{$discount.id|default=0}">[ {$discount.id?:'-'} ] {$discount.name|default='0'}</option>
                        {else}
                        <option value="{$discount.id|default=0}">[ {$discount.id?:'-'} ] {$discount.name|default='0'}</option>
                        {/if}{/foreach}
                    </select>
                    <span class="help-block">当用户等级达到指定等级后可享有折扣！</span>
                </fieldset>
                <!--{else}-->
                <input type="hidden" name="discount_id" value="0">
                <!--{/if}-->
                <fieldset class="layui-bg-gray">
                    <legend><span class="layui-badge think-bg-violet">商品返佣配置</span></legend>
                    <div class="padding-top-5 padding-bottom-5 nowrap">
                        {empty name='vo.rebate_type'}{assign name='vo.rebate_type' value='0'}{/empty}
                        {foreach ['普通商品','返佣商品'] as $k => $v}
                        {if isset($vo.rebate_type) and $vo.rebate_type eq $k}
                        <input name="rebate_type" title="{$v}" type="radio" value="{$k}" checked>
                        {else}
                        <input name="rebate_type" title="{$v}" type="radio" value="{$k}">
                        {/if}{/foreach}
                    </div>
                    <div class="help-block nowrap">代理获得该商品线上支付部分的返佣比例！</div>
                </fieldset>
            </div>
        </div>

        <div class="hr-line-dashed margin-top-40"></div>
        <input name="code" type="hidden" value="{$vo.code}">

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存商品</button>
            <button class="layui-btn layui-btn-danger" type="button" data-target-backup>取消编辑</button>
        </div>
    </div>
</form>