{extend name="main"}

{block name="button"}

{/block}

{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white">
    <div class="layui-tab-content">
        {include file='shop/goods/index_search'}
        <table id="GoodsTable" data-line="2" data-url="{:request()->url()}" data-target-search="form.form-search"></table>
    </div>
</div>
{/block}

{block name='script'}
<script>
    $(function () {
        $('#GoodsTable').layTable({
            even: true, width: 'full', height: 'full',
            sort: {field: 'sort desc,id', type: 'desc'},
            cellExpandedMode: 'tips',
            cols: [[
                {field: 'id', hide: true},
                {
                    field: 'name', title: '商品名称', minWidth: 220, width: '15%', templet: function (d) {
                        d.html = showTableImage(d.cover, false, 'sm')
                        return laytpl("<div class='flex'>{{-d.html}}<div class='padding-left-10 nowrap'>名称：{{d.name}}<br>编号：<b class='color-blue'>{{d.code}}</b></div></div>").render(d);
                    }
                },
                {
                    title: '购买权益', minWidth: 100, width: '13%', align: 'center', templet: function (d) {
                        let tpls = ['{{d.rebate_name}}','{{d.level_type}}'];
                        if (d.level_upgrade > 0) d.level_type = '入会礼包，升级到【'+d.level_name+'】';
                        if (d.level_upgrade === 0) d.level_type = '入会普通礼包，不升级';
                        if (d.level_upgrade === -1) d.level_type = '非入会礼包';
                        d.rebate_name = d.rebate_type ? '已参与返佣' : '不参与返佣';
                        return laytpl('<div class="sub-strong-blue">' + tpls.join('<br>') + '</div>').render(d);
                    }
                },
                {
                    title: '等级折扣', minWidth: 100, width: '13%', align: 'center', templet: function (d) {
                        let tpls = ['{{d.lowvip_name}}', '{{d.discount_name}}'];
                        if (d.limit_lowvip > 0) d.lowvip_name = '限制【'+d.low_name+'】及以上购买';
                        d.discount_name = d.discount_name ?? '';
                        return laytpl('<div class="sub-strong-blue">' + tpls.join('<br>') + '</div>').render(d);
                    }
                },
                {
                    title: '价格及库存 ', minWidth: 100, width: '15%', templet: function (d) {
                        let tpls = [];
                        d.limit_buyname = d.limit_maxnum ? '限购 ' + d.limit_maxnum + ' 件' : '<span class="color-desc">不限购</span>';
                        tpls.push('{{-d.limit_buyname}}，最低售价 <b>{{Math.round(d.price_selling)}}</b> 元/件');
                        tpls.push('总库存 <b>{{d.stock_total}}</b> 件，剩余库存 <b>{{d.stock_total-d.stock_sales}}</b> 件');
                        return laytpl('<div class="sub-strong-blue nowrap">' + tpls.join('<br>') + '</div>').render(d);
                    }
                },
                /* {if $enableBalance || $enableIntegral} */
                {
                    title: '余额抵扣', width: '11%', templet: function (d) {
                        let tpls = [];
                        /* {if $enableBalance} */
                        tpls.push('最多可用 <b>{{Math.round(d.allow_balance)}}</b> 元余额');
                        /* {/if} */
                        /* {if $enableIntegral} */
                        tpls.push('最多可用 <b>{{Math.round(d.allow_integral)}}</b> 个积分');
                        /* {/if} */
                        return laytpl(tpls.join('<br>')).render(d);
                    }
                },
                /* {/if} */
                {
                    title: '标签分类', templet: function (d) {
                        let tpls = '标签：' + (d.marks.length > 0 ? d.marks.join('、') : '-');
                        return tpls + '<br>分类：' + ((d.cates || {}).names || ['-']).join(' ＞ ');
                    }
                },
                {field: 'create_time', title: '创建时间', width: '15%', templet: "<div>更新：{{d.update_time}}<br>创建：{{d.create_time}}</div>"},
                {toolbar: '#toolbar', title: '操作面板', minWidth: 100, width: '5%', align: 'center', fixed: 'right'},
            ]]
        });
    });
</script>

<!-- 操控面板的模板 -->
<script type="text/html" id="toolbar">
    <!--{if auth('edit')}-->
    <a class="layui-btn layui-btn-sm" data-title="配置商品【{{d.name}}】分销" data-modal='{:url("edit")}?code={{d.code}}'>配 置</a>
    <!--{/if}-->
</script>
{/block}